ErickRun/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ErickInterview/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Inheritance/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
NUnitErick/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
packages/NUnit.3.12.0/.signature.p7s
packages/NUnit.3.13.0/.signature.p7s
packages/NUnit.3.12.0/CHANGES.md
packages/NUnit.3.13.0/CHANGES.md
.vs/ErickInterview/xs/project-cache/ErickInterview-Debug.json
ErickInterview/obj/Debug/ErickInterview.csproj.CoreCompileInputs.cache
ErickInterview/obj/Debug/ErickInterview.csproj.FileListAbsolute.txt
ErickInterview/bin/Debug/ErickInterview.dll
ErickInterview/obj/Debug/ErickInterview.dll
ErickInterview/bin/Debug/ErickInterview.pdb
ErickInterview/obj/Debug/ErickInterview.pdb
.vs/ErickInterview/xs/project-cache/ErickRun-Debug.json
ErickRun/obj/Debug/net5.0/ErickRun.AssemblyInfo.cs
ErickRun/obj/Debug/net5.0/ErickRun.AssemblyInfoInputs.cache
ErickRun/obj/Debug/net5.0/ErickRun.assets.cache
ErickRun/obj/Debug/net5.0/ErickRun.csproj.CopyComplete
ErickRun/obj/Debug/net5.0/ErickRun.csproj.CoreCompileInputs.cache
ErickRun/obj/Debug/net5.0/ErickRun.csproj.FileListAbsolute.txt
ErickRun/obj/ErickRun.csproj.nuget.dgspec.json
ErickRun/obj/ErickRun.csproj.nuget.g.props
ErickRun/obj/ErickRun.csproj.nuget.g.targets
ErickRun/obj/Debug/net5.0/ErickRun.csprojAssemblyReference.cache
ErickRun/bin/Debug/net5.0/ErickRun.deps.json
ErickRun/bin/Debug/net5.0/ErickRun.dll
ErickRun/bin/Debug/net5.0/ref/ErickRun.dll
ErickRun/obj/Debug/net5.0/ErickRun.dll
ErickRun/obj/Debug/net5.0/ref/ErickRun.dll
ErickRun/obj/Debug/net5.0/ErickRun.GeneratedMSBuildEditorConfig.editorconfig
ErickRun/obj/Debug/net5.0/ErickRun.genruntimeconfig.cache
ErickRun/bin/Debug/net5.0/ErickRun.pdb
ErickRun/obj/Debug/net5.0/ErickRun.pdb
ErickRun/bin/Debug/net5.0/ErickRun.runtimeconfig.dev.json
ErickRun/bin/Debug/net5.0/ErickRun.runtimeconfig.json
packages/NUnit.3.13.0/icon.png
.vs/ErickInterview/xs/project-cache/Inheritance-Debug.json
Inheritance/obj/Debug/Inheritance.csproj.CopyComplete
Inheritance/obj/Debug/Inheritance.csproj.CoreCompileInputs.cache
Inheritance/obj/Debug/Inheritance.csproj.FileListAbsolute.txt
Inheritance/bin/Debug/Inheritance.dll
Inheritance/obj/Debug/Inheritance.dll
NUnitErick/bin/Debug/Inheritance.dll
Inheritance/bin/Debug/Inheritance.pdb
Inheritance/obj/Debug/Inheritance.pdb
NUnitErick/bin/Debug/Inheritance.pdb
packages/NUnit.3.12.0/LICENSE.txt
packages/NUnit.3.13.0/LICENSE.txt
ErickRun/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
ErickRun/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ErickRun/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
ErickRun/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
ErickRun/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
ErickRun/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ErickRun/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
ErickRun/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
ErickRun/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
ErickRun/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
ErickRun/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
ErickRun/bin/Debug/net5.0/Newtonsoft.Json.dll
packages/NUnit.3.12.0/NOTICES.txt
packages/NUnit.3.13.0/NOTICES.txt
ErickRun/bin/Debug/net5.0/NuGet.Frameworks.dll
packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
packages/NUnit.3.13.0/NUnit.3.13.0.nupkg
Inheritance/bin/Debug/nunit.framework.dll
NUnitErick/bin/Debug/nunit.framework.dll
packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
packages/NUnit.3.13.0/lib/net35/nunit.framework.dll
packages/NUnit.3.13.0/lib/net40/nunit.framework.dll
packages/NUnit.3.13.0/lib/netstandard2.0/nunit.framework.dll
NUnitErick/bin/Debug/nunit.framework.pdb
packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
Inheritance/bin/Debug/nunit.framework.xml
NUnitErick/bin/Debug/nunit.framework.xml
packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
packages/NUnit.3.13.0/lib/net35/nunit.framework.xml
packages/NUnit.3.13.0/lib/net40/nunit.framework.xml
packages/NUnit.3.13.0/lib/net45/nunit.framework.xml
packages/NUnit.3.13.0/lib/netstandard2.0/nunit.framework.xml
packages/NUnit.3.12.0/build/NUnit.props
packages/NUnit.3.13.0/build/NUnit.props
.vs/ErickInterview/xs/project-cache/NUnitErick-Debug.json
NUnitErick/obj/Debug/NUnitErick.csproj.CopyComplete
NUnitErick/obj/Debug/NUnitErick.csproj.CoreCompileInputs.cache
NUnitErick/obj/Debug/NUnitErick.csproj.FileListAbsolute.txt
NUnitErick/obj/Debug/NUnitErick.csprojAssemblyReference.cache
NUnitErick/bin/Debug/NUnitErick.dll
NUnitErick/obj/Debug/NUnitErick.dll
NUnitErick/bin/Debug/NUnitErick.pdb
NUnitErick/obj/Debug/NUnitErick.pdb
ErickRun/obj/project.assets.json
ErickRun/obj/project.nuget.cache
ErickRun/bin/Debug/net5.0/testhost.dll
.vs/ErickInterview/xs/UserPrefs.xml
